FORMAT: 1A
HOST: https://api.mylimobiz.com/
# ASP.NET Web API Help Page
## Overview

The LAAPINEW is a programmatic interface for automating tasks and developing custom applications for usage Limo Anywhere system.
API allows you to interact with our system programmatically from your own application.
Using the API you interact with Resources such as:
- Reservations
- Customer Profiles
- Reference Data, eg: Airports, Addresses, POIs, FBOs, Service Types etc.
- Notification subscriptions

The API attempts to conform to the <a href="https://en.wikipedia.org/wiki/Representational_state_transfer"> RESTful </a> design principles.
You interact with the resources exposed via the API by accessing resource collection and element URIs using the HTTP verbs (GET, POST, PUT, and DELETE).
API accepts and returns JSON data.
## HTTP status codes

|Status Code |Description |
|-------------------|-----------------------------------------------------------------------------------------------------------|
|200 | OK. Everything worked as expected. |
|201 | Created. Returns a 201 after a successful POST where a resource was created. |
|202 | Accepted. Returns a 202 after a successful operation. |
|204 | NO Content. Returns a 204 if no content for GET request. |
|400 | Bad request. |
|403 | Forbidden. Also used for unauthorized requests such as improper OAuth 2.0 scopes or permissions issues. |
|404 | Not found. |
|409 | Conflict*. Needs to be resolved before the request can be made. |
|429 | Too Many Requests. Rate limited. |
|500 | Internal Server Error. |


* Conflict can be provoked by very many reasons. So in case of 409 error pay special attention to response reason phrase that can help to determine case of conflict more quickly.


##Group Authentication
The API uses the <a href="https://tools.ietf.org/html/rfc6749#appendix-B"> OAuth 2.0 </a> protocol for simple, but effective authentication and authorization.
Most API endpoints require an OAuth access token, thus we are exposing a service that will provide the user with an OAuth 2 Access token.
This token should be provided in the header for all services that require customer to be authenticated.

We support 2 ways of obtaining Authorization and also opportunity to refresh Access token.
- <b>Client Credentials Grant</b>
- <b>Resource Owner Credentials Grant</b>

For more detail of each you can visit <a href="https://tools.ietf.org/html/rfc6749#appendix-B"> here </a>.

<b> Basic Steps for get and refresh 'access_token': </b>

1. Choose one of the suitable methods of obtaining Authorization from section "GET Access Token".
2. Create appropriate request. Parameter `grant_type` will depend on Authorization method
- for "Client Credentials Grant" - `client_credentials`
- for "Resource Owner Credentials Grant" - `password`


3. For refresh `access_token` use "Refresh Access Token" and method "Refresh". Parameter `grant_type` determine as `refresh_token`

The tables below describe all possible request/response parameters:

#####Request:

| Parameter | Description |
|------------------|-------------------------------------------------------------------------------------------------------------------------|
| grant_type | Type of Grant described above. Possible values: `client_credentials`, `authorization_code`, `password`, `refresh_token` |
| client_id | The client ID of your application |
| client_secret | The client Secret of your application |
| company_alias | The Alias of you company |
| username | Username or Email |
| passwod | Password |

#####Response:

| Parameter | Description |
|------------------|------------------------------------------------------------|
| access_token | Access Token |
| token_type | Token type (Always `bearer`) |
| expires_in | Expiration time of Access token (15 min after getting) |
| refresh_token | Refresh Token |


### Possible Authentication Errors

| Parameter | Description |
|-------------------------------|---------------------------------------------------------------|
| invalid_request | Required parameters were not provided |
| invalid_client | The Сlient ID or Clernt secret provided is invalid |
| invalid_scope (not used now) | The scope parameter provided is not a valid subset of scopes |
| unsupported_grant_type | Unsupported Grand Type provided |


In 'execution' console you can see request/response samples, data types and sizes of parameters

## GET Access Token [/get]

### Client Credentials Grant [POST /oauth2/token]

+ Request

    + `grant_type` (string) Required. String length: inclusive between 0 and 50.
    + `client_id` (string) Required. String length: inclusive between 6 and 50.
    + `client_secret` (string) Required. String length: inclusive between 50 and 50.
 
    + Headers

            Content-Type: application/json

    + Body

            {
                "grant_type": "client_credentials",
                "client_id": "la_customer_test",
                "client_secret": "lcfLYzj7RaUgmRp8sVngt2fpD5GaBJ19Ptt2MrNSlF57GI5kAR",
            }

+ Response 200 (application/json)
    
    + Body

            {
                "access_token": "YE0W7CSdfVaQFmC8GTQ1",
                "token_type": "bearer",
                "expires_in": 3600,
            }

### Resource Owner Credentials Grant [POST /oauth2/token]

+ Request

    + `grant_type` (string) Required. String length: inclusive between 0 and 50.
    + `client_id` (string) Required. String length: inclusive between 6 and 50.
    + `client_secret` (string) Required. String length: inclusive between 50 and 50.
    + `company_alias` (string) String length: inclusive between 0 and 50.
    + `username` (string) String length: inclusive between 0 and 50.
    + `password` (string) String length: inclusive between 0 and 50.
 
    + Headers

            Content-Type: application/json

    + Body

            {
                "grant_type": "password",
                "client_id": "la_customer_test",
                "client_secret": "lcfLYzj7RaUgmRp8sVngt2fpD5GaBJ19Ptt2MrNSlF57GI5kAR",
                "company_alias": "test_alias",
                "username": "admin",
                "password": "password"
            }

+ Response 200 (application/json)
    
    + Body

            {
                "access_token": "YE0W7CSdfVaQFmC8GTQ1",
                "refresh_token": "yuMF7U7FHMCL2cuI5qKV",
                "token_type": "bearer",
                "expires_in": 3600
            }

## Refresh Access Token [/refresh]

### Refresh [POST /oauth2/token]

+ Request

    + `grant_type` (string) Required. String length: inclusive between 0 and 50.
    + `refresh_token` (string) Required. String length: 20.
    + `client_id` (string) Required. String length: inclusive between 6 and 50.
    + `client_secret` (string) Required. String length: inclusive between 50 and 50.
 
    + Headers

            Content-Type: application/json

    + Body

            {
                "grant_type": "refresh_token",
                "refresh_token": "CSYE0W7dfVaQFmC8GTQPL",
                "client_id": "la_customer_test",
                "client_secret": "lcfLYzj7RaUgmRp8sVngt2fpD5GaBJ19Ptt2MrNSlF57GI5kAR"
            }

+ Response 200 (application/json)
    
    + Body

            {
                "access_token": "YE0W7CSdfVaQFmC8GTQ1",
                "token_type": "bearer",
                "expires_in": 3600
            }


## Group Payment Type
Provides operations for Payment Type resources.


## Collection [/Collection]
Returns Payment Types collection.

### Get Collection [GET /companies/{company_alias}/resources/payment_types?page_index={page_index}&page_size={page_size}]

+ Parameters
    + page_index: 1 (optional, int)
    + page_size: 20 (optional, int)
    + company_alias: (required, string)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "total_count": 1, "items": [ { "id": 1, "code": "sample string 2", "name": "sample string 3", "type": "other" }, { "id": 1, "code": "sample string 2", "name": "sample string 3", "type": "other" } ] }


## GetAllPaymentTypesAsync [/GetAllPaymentTypesAsync]
Returns Payment Types collection.

### GetAllPaymentTypesAsync [GET /companies/{company_alias}/payment_types]

+ Parameters
    + company_alias: (required, string)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            [ { "id": 1, "is_system": true, "code": "sample string 3", "name": "sample string 4", "type": "other", "is_active": true }, { "id": 1, "is_system": true, "code": "sample string 3", "name": "sample string 4", "type": "other", "is_active": true } ]


## Get [/Get]
Returns Payment Type by Id

### GetPaymentTypeAsync [GET /companies/{company_alias}/resources/payment_types/{id}]

+ Parameters
    + id: `1` (required, int)
    + company_alias: (required, string)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "id": 1, "code": "sample string 2", "name": "sample string 3", "type": "other" }


## Group Customer Password
Provides operations for password set or reset.


## Init Set [/Init Set]
This allows to set the client password

### Init Set [POST /companies/{company_alias}/customers/passwords/init_set]

+ Parameters
    + company_alias: (required, string)

+ Request

    + `email` (string) Required. Email address. String length: inclusive between 0 and 255.

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

    + Body

            { "email": "sample string 1" }


## Reset [/Reset]
This allows to re-set the client password

### Reset [POST /companies/{company_alias}/customers/passwords/set]

+ Parameters
    + company_alias: (required, string)

+ Request

    + `token` (string) Required. String length: inclusive between 10 and 10.
    + `new_password` (string) Required. Matching regular expression pattern: ^((?=.*\d)(?=.*\w)(?=.*\W).{8,50})$. String length: inclusive between 8 and 50.

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

    + Body

            { "token": "sample string 1", "new_password": "sample string 2" }


## Group Airport
Provides read operations for Airport(s)


## Collection [/Collection]
Returns paged collection of Airports.

### Get Collecton [GET /airports?search_for={search_for}&page_index={page_index}&page_size={page_size}]

+ Parameters
    + search_for: (optional, string)
    + page_index: 1 (optional, int)
    + page_size: 20 (optional, int)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "total_count": 1, "items": [ { "iata": "sample string 1", "name": "sample string 2", "address": { "name": "sample string 1", "phone": "sample string 2", "country_code": "sample string 3", "state_code": "sample string 4", "postal_code": "sample string 5", "county": "sample string 6", "city": "sample string 7", "address_line1": "sample string 8", "address_line2": "sample string 9", "latitude": 10.1, "longitude": 11.1 } }, { "iata": "sample string 1", "name": "sample string 2", "address": { "name": "sample string 1", "phone": "sample string 2", "country_code": "sample string 3", "state_code": "sample string 4", "postal_code": "sample string 5", "county": "sample string 6", "city": "sample string 7", "address_line1": "sample string 8", "address_line2": "sample string 9", "latitude": 10.1, "longitude": 11.1 } } ] }

Returns paged collection of Airports.

### Get Collecton [GET /resources/airports?search_for={search_for}&page_index={page_index}&page_size={page_size}]

+ Parameters
    + search_for: (optional, string)
    + page_index: 1 (optional, int)
    + page_size: 20 (optional, int)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "total_count": 1, "items": [ { "iata": "sample string 1", "name": "sample string 2", "address": { "name": "sample string 1", "phone": "sample string 2", "country_code": "sample string 3", "state_code": "sample string 4", "postal_code": "sample string 5", "county": "sample string 6", "city": "sample string 7", "address_line1": "sample string 8", "address_line2": "sample string 9", "latitude": 10.1, "longitude": 11.1 } }, { "iata": "sample string 1", "name": "sample string 2", "address": { "name": "sample string 1", "phone": "sample string 2", "country_code": "sample string 3", "state_code": "sample string 4", "postal_code": "sample string 5", "county": "sample string 6", "city": "sample string 7", "address_line1": "sample string 8", "address_line2": "sample string 9", "latitude": 10.1, "longitude": 11.1 } } ] }


## GetAirportAsync [/GetAirportAsync]
Returns Airport by iata code.

### GetAirportAsync [GET /airports?iata={iata}]

+ Parameters
    + iata: (required, string)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "iata": "sample string 1", "name": "sample string 2", "address": { "name": "sample string 1", "phone": "sample string 2", "country_code": "sample string 3", "state_code": "sample string 4", "postal_code": "sample string 5", "county": "sample string 6", "city": "sample string 7", "address_line1": "sample string 8", "address_line2": "sample string 9", "latitude": 10.1, "longitude": 11.1 } }

Returns Airport by iata code.

### GetAirportAsync [GET /resources/airports?iata={iata}]

+ Parameters
    + iata: (required, string)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "iata": "sample string 1", "name": "sample string 2", "address": { "name": "sample string 1", "phone": "sample string 2", "country_code": "sample string 3", "state_code": "sample string 4", "postal_code": "sample string 5", "county": "sample string 6", "city": "sample string 7", "address_line1": "sample string 8", "address_line2": "sample string 9", "latitude": 10.1, "longitude": 11.1 } }


## Group Customer Self Address
Provides managing of account's stored addresses.


## Collection [/Collection]
Returns paged collection of Account's Stored Address.

### Get Collection [GET /customers/self/addresses?search_for={search_for}&page_index={page_index}&page_size={page_size}]

+ Parameters
    + search_for: (optional, string)
    + page_index: 1 (optional, int)
    + page_size: 20 (optional, int)
    + type: (optional, string)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "total_count": 1, "items": [ { "id": 1, "type": "other", "address": { "name": "Pick Up Address", "phone": "+1-234-1111110", "country_code": "US", "state_code": "NY", "postal_code": "11111", "county": "Delaware", "city": "New York", "address_line1": "123 Main Street", "address_line2": "123 Second Street", "latitude": 55.5555, "longitude": 33.3333 } } ] }


## CRUD [/CRUD]

### Read [GET /customers/self/addresses/{id}]

+ Parameters
    + id: `1` (required, int)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "id": 1, "type": "other", "address": { "name": "Pick Up Address", "phone": "+1-234-1111110", "country_code": "US", "state_code": "NY", "postal_code": "11111", "county": "Delaware", "city": "New York", "address_line1": "123 Main Street", "address_line2": "123 Second Street", "latitude": 55.5555, "longitude": 33.3333 } }

CRUD operations for Customer Address.

### Create [POST /customers/self/addresses]

+ Parameters

+ Request

    + `type` (object) Required.
    + `type.value` (string)
    + `address` (object) Required.
    + `address.name` (string) String length: inclusive between 0 and 500.
    + `address.phone` (string) Phone number. String length: inclusive between 0 and 50.
    + `address.country_code` (string) String length: inclusive between 0 and 5.
    + `address.state_code` (string) String length: inclusive between 0 and 5.
    + `address.postal_code` (string) String length: inclusive between 0 and 15.
    + `address.county` (string) String length: inclusive between 0 and 250.
    + `address.city` (string) String length: inclusive between 0 and 250.
    + `address.address_line1` (string) String length: inclusive between 0 and 250.
    + `address.address_line2` (string) String length: inclusive between 0 and 250.
    + `address.latitude` (float) Required.
    + `address.longitude` (float) Required.

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

    + Body

            { "type": "home", "address": { "name": "Pick Up Address", "phone": "+1-234-1111110", "country_code": "US", "state_code": "NY", "postal_code": "11111", "county": "Delaware", "city": "New York", "address_line1": "123 Main Street", "address_line2": "123 Second Street", "latitude": 55.5555, "longitude": 33.3333 } }

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "id": 1, "type": "other", "address": { "name": "Pick Up Address", "phone": "+1-234-1111110", "country_code": "US", "state_code": "NY", "postal_code": "11111", "county": "Delaware", "city": "New York", "address_line1": "123 Main Street", "address_line2": "123 Second Street", "latitude": 55.5555, "longitude": 33.3333 } }

Provides CRUD (Create/Read/Update/Delete) operations for Customer Address.

### Update [PUT /customers/self/addresses/{id}]

+ Parameters
    + id: `1` (required, int)

+ Request

    + `type` (object) Required.
    + `type.value` (string)
    + `address` (object) Required.
    + `address.name` (string) String length: inclusive between 0 and 500.
    + `address.phone` (string) Phone number. String length: inclusive between 0 and 50.
    + `address.country_code` (string) String length: inclusive between 0 and 5.
    + `address.state_code` (string) String length: inclusive between 0 and 5.
    + `address.postal_code` (string) String length: inclusive between 0 and 15.
    + `address.county` (string) String length: inclusive between 0 and 250.
    + `address.city` (string) String length: inclusive between 0 and 250.
    + `address.address_line1` (string) String length: inclusive between 0 and 250.
    + `address.address_line2` (string) String length: inclusive between 0 and 250.
    + `address.latitude` (float) Required.
    + `address.longitude` (float) Required.

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

    + Body

            { "type": "home", "address": { "name": "Pick Up Address", "phone": "+1-234-1111110", "country_code": "US", "state_code": "NY", "postal_code": "11111", "county": "Delaware", "city": "New York", "address_line1": "123 Main Street", "address_line2": "123 Second Street", "latitude": 55.5555, "longitude": 33.3333 } }


### Delete [DELETE /customers/self/addresses/{id}]

+ Parameters
    + id: `1` (required, int)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}


## Group Customer Self Credit Card
Provides managing of account's credit cards.


## Owner Collection [/Owner Collection]
Returns paged collection of owner account's billing contact`s/passenger's credit cards.

### Get Billing Contact Collection [GET /customers/self/billing_contact/credit_cards?page_index={page_index}&page_size={page_size}]

+ Parameters
    + page_index: 1 (optional, int)
    + page_size: 20 (optional, int)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "total_count": 1, "items": [ { "id": 123, "card_number_first_digit": "5361", "card_number_last_digits": "4007", "card_network": "visa", "card_holder_name": "Wesley Devis", "billing_address": { "name": "Pick Up Address", "phone": "+1-234-1111110", "country_code": "US", "state_code": "NY", "postal_code": "11111", "county": "Delaware", "city": "New York", "address_line1": "123 Main Street", "address_line2": "123 Second Street", "latitude": 55.5555, "longitude": 33.3333 }, "expires_at": "2016-09-14T18:41:11+03:00" } ] }

Returns paged collection of account's credit cards.

### Get Passenger Collection [GET /customers/self/credit_cards?page_index={page_index}&page_size={page_size}]

+ Parameters
    + page_index: 1 (optional, int)
    + page_size: 20 (optional, int)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "total_count": 1, "items": [ { "id": 123, "card_number_first_digit": "5361", "card_number_last_digits": "4007", "card_network": "visa", "card_holder_name": "Wesley Devis", "billing_address": { "name": "Pick Up Address", "phone": "+1-234-1111110", "country_code": "US", "state_code": "NY", "postal_code": "11111", "county": "Delaware", "city": "New York", "address_line1": "123 Main Street", "address_line2": "123 Second Street", "latitude": 55.5555, "longitude": 33.3333 }, "expires_at": "2016-09-14T18:41:11+03:00" } ] }


## Collection [/Collection]
Returns paged collection of account's billing contact`s/passenger's credit cards.

### Get Billing Contact Collection [GET /customers/self/billing_contacts/{billing_contact_id}/credit_cards?page_index={page_index}&page_size={page_size}]

+ Parameters
    + billing_contact_id: (required, int)
    + page_index: 1 (optional, int)
    + page_size: 20 (optional, int)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "total_count": 1, "items": [ { "id": 123, "card_number_first_digit": "5361", "card_number_last_digits": "4007", "card_network": "visa", "card_holder_name": "Wesley Devis", "billing_address": { "name": "Pick Up Address", "phone": "+1-234-1111110", "country_code": "US", "state_code": "NY", "postal_code": "11111", "county": "Delaware", "city": "New York", "address_line1": "123 Main Street", "address_line2": "123 Second Street", "latitude": 55.5555, "longitude": 33.3333 }, "expires_at": "2016-09-14T18:41:11+03:00" } ] }


### Get Collection for Passenger [GET /customers/self/passengers/{passenger_id}/credit_cards?page_index={page_index}&page_size={page_size}]

+ Parameters
    + passenger_id: (required, int)
    + page_index: 1 (optional, int)
    + page_size: 20 (optional, int)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "total_count": 1, "items": [ { "id": 123, "card_number_first_digit": "5361", "card_number_last_digits": "4007", "card_network": "visa", "card_holder_name": "Wesley Devis", "billing_address": { "name": "Pick Up Address", "phone": "+1-234-1111110", "country_code": "US", "state_code": "NY", "postal_code": "11111", "county": "Delaware", "city": "New York", "address_line1": "123 Main Street", "address_line2": "123 Second Street", "latitude": 55.5555, "longitude": 33.3333 }, "expires_at": "2016-09-14T18:41:11+03:00" } ] }


## Get [/Get]
Returns account's billing contact's/passenger's credit card with specified ID.

### Get Billing Contact Credit Card [GET /customers/self/billing_contact/credit_cards/{id}]

+ Parameters
    + id: `1` (required, int)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "id": 123, "card_number_first_digit": "5361", "card_number_last_digits": "4007", "card_network": "visa", "card_holder_name": "Wesley Devis", "billing_address": { "name": "Pick Up Address", "phone": "+1-234-1111110", "country_code": "US", "state_code": "NY", "postal_code": "11111", "county": "Delaware", "city": "New York", "address_line1": "123 Main Street", "address_line2": "123 Second Street", "latitude": 55.5555, "longitude": 33.3333 }, "expires_at": "2016-09-14T18:41:11+03:00" }


### Get Passenger Credit Card [GET /customers/self/passengers/{passenger_id}/credit_cards/{id}]

+ Parameters
    + passenger_id: (required, int)
    + id: `1` (required, int)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "id": 123, "card_number_first_digit": "5361", "card_number_last_digits": "4007", "card_network": "visa", "card_holder_name": "Wesley Devis", "billing_address": { "name": "Pick Up Address", "phone": "+1-234-1111110", "country_code": "US", "state_code": "NY", "postal_code": "11111", "county": "Delaware", "city": "New York", "address_line1": "123 Main Street", "address_line2": "123 Second Street", "latitude": 55.5555, "longitude": 33.3333 }, "expires_at": "2016-09-14T18:41:11+03:00" }


## CRUD [/CRUD]
CRUD (Create/Read/Update/Delete) operations for Account Credit Card.

### Create [POST /customers/self/credit_cards]

+ Parameters

+ Request

    + `card_number` (string) Required. String length: inclusive between 0 and 20.
    + `card_holder_name` (string) String length: inclusive between 0 and 250.
    + `billing_address` (object)
    + `billing_address.name` (string) String length: inclusive between 0 and 500.
    + `billing_address.phone` (string) Phone number. String length: inclusive between 0 and 50.
    + `billing_address.country_code` (string) String length: inclusive between 0 and 5.
    + `billing_address.state_code` (string) String length: inclusive between 0 and 5.
    + `billing_address.postal_code` (string) String length: inclusive between 0 and 15.
    + `billing_address.county` (string) String length: inclusive between 0 and 250.
    + `billing_address.city` (string) String length: inclusive between 0 and 250.
    + `billing_address.address_line1` (string) String length: inclusive between 0 and 250.
    + `billing_address.address_line2` (string) String length: inclusive between 0 and 250.
    + `billing_address.latitude` (float) Required.
    + `billing_address.longitude` (float) Required.
    + `expires_at` (object)

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

    + Body

            { "card_number": "5361656386674007", "card_holder_name": "Wesley Devis", "billing_address": { "name": "Pick Up Address", "phone": "+1-234-1111110", "country_code": "US", "state_code": "NY", "postal_code": "11111", "county": "Delaware", "city": "New York", "address_line1": "123 Main Street", "address_line2": "123 Second Street", "latitude": 55.5555, "longitude": 33.3333 }, "expires_at": "2016-09-14T18:41:11+03:00" }

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "id": 123, "card_number_first_digit": "5361", "card_number_last_digits": "4007", "card_network": "visa", "card_holder_name": "Wesley Devis", "billing_address": { "name": "Pick Up Address", "phone": "+1-234-1111110", "country_code": "US", "state_code": "NY", "postal_code": "11111", "county": "Delaware", "city": "New York", "address_line1": "123 Main Street", "address_line2": "123 Second Street", "latitude": 55.5555, "longitude": 33.3333 }, "expires_at": "2016-09-14T18:41:11+03:00" }


### Read [GET /customers/self/credit_cards/{id}]

+ Parameters
    + id: `1` (required, int)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "id": 123, "card_number_first_digit": "5361", "card_number_last_digits": "4007", "card_network": "visa", "card_holder_name": "Wesley Devis", "billing_address": { "name": "Pick Up Address", "phone": "+1-234-1111110", "country_code": "US", "state_code": "NY", "postal_code": "11111", "county": "Delaware", "city": "New York", "address_line1": "123 Main Street", "address_line2": "123 Second Street", "latitude": 55.5555, "longitude": 33.3333 }, "expires_at": "2016-09-14T18:41:11+03:00" }


### Update [PUT /customers/self/credit_cards/{id}]

+ Parameters
    + id: `1` (required, int)

+ Request

    + `card_holder_name` (string) String length: inclusive between 0 and 250.
    + `billing_address` (object)
    + `billing_address.name` (string) String length: inclusive between 0 and 500.
    + `billing_address.phone` (string) Phone number. String length: inclusive between 0 and 50.
    + `billing_address.country_code` (string) String length: inclusive between 0 and 5.
    + `billing_address.state_code` (string) String length: inclusive between 0 and 5.
    + `billing_address.postal_code` (string) String length: inclusive between 0 and 15.
    + `billing_address.county` (string) String length: inclusive between 0 and 250.
    + `billing_address.city` (string) String length: inclusive between 0 and 250.
    + `billing_address.address_line1` (string) String length: inclusive between 0 and 250.
    + `billing_address.address_line2` (string) String length: inclusive between 0 and 250.
    + `billing_address.latitude` (float) Required.
    + `billing_address.longitude` (float) Required.
    + `expires_at` (object)

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

    + Body

            { "card_holder_name": "Wesley Devis", "billing_address": { "name": "Pick Up Address", "phone": "+1-234-1111110", "country_code": "US", "state_code": "NY", "postal_code": "11111", "county": "Delaware", "city": "New York", "address_line1": "123 Main Street", "address_line2": "123 Second Street", "latitude": 55.5555, "longitude": 33.3333 }, "expires_at": "2016-09-14T18:41:11+03:00" }


### Delete [DELETE /customers/self/credit_cards/{id}]

+ Parameters
    + id: `1` (required, int)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}


## Group Promotion Code
Provides operations for Promotion Code(s).


## GetPromotionCodeAsync [/GetPromotionCodeAsync]
Returns Promotion Code.

### GetPromotionCodeAsync [GET /companies/{company_alias}/promotion_codes/{code}]

+ Parameters
    + code: (required, string)
    + company_alias: (required, string)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "code": "sample string 1", "service_types": [ 1, 2 ], "vehicle_types": [ 1, 2 ], "postal_codes": [ "sample string 1", "sample string 2" ], "airport_codes": [ "sample string 1", "sample string 2" ], "description": "sample string 2", "is_discount": true, "date_rule": [ { "date_from": "2015-12-14T18:51:54+02:00", "date_to": "2015-12-14T18:51:54+02:00" }, { "date_from": "2015-12-14T18:51:54+02:00", "date_to": "2015-12-14T18:51:54+02:00" } ] }

Returns Promotion Code.

### GetPromotionCodeAsync [GET /companies/{company_alias}/resources/promotion_codes/{code}]

+ Parameters
    + code: (required, string)
    + company_alias: (required, string)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "code": "sample string 1", "service_types": [ 1, 2 ], "vehicle_types": [ 1, 2 ], "postal_codes": [ "sample string 1", "sample string 2" ], "airport_codes": [ "sample string 1", "sample string 2" ], "description": "sample string 2", "is_discount": true, "date_rule": [ { "date_from": "2015-12-14T18:51:54+02:00", "date_to": "2015-12-14T18:51:54+02:00" }, { "date_from": "2015-12-14T18:51:54+02:00", "date_to": "2015-12-14T18:51:54+02:00" } ] }


## Collection [/Collection]
Returns collection of Promotion Codes.

### Get Collection [GET /companies/{company_alias}/promotion_codes?page_index={page_index}&page_size={page_size}]

+ Parameters
    + page_index: 1 (optional, int)
    + page_size: 20 (optional, int)
    + company_alias: (required, string)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "total_count": 1, "items": [ { "code": "sample string 1", "service_types": [ 1, 2 ], "vehicle_types": [ 1, 2 ], "postal_codes": [ "sample string 1", "sample string 2" ], "airport_codes": [ "sample string 1", "sample string 2" ], "description": "sample string 2", "is_discount": true, "is_always_active": true, "date_rule": [ { "date_from": "2015-12-14T18:51:54+02:00", "date_to": "2015-12-14T18:51:54+02:00" }, { "date_from": "2015-12-14T18:51:54+02:00", "date_to": "2015-12-14T18:51:54+02:00" } ] }, { "code": "sample string 1", "service_types": [ 1, 2 ], "vehicle_types": [ 1, 2 ], "postal_codes": [ "sample string 1", "sample string 2" ], "airport_codes": [ "sample string 1", "sample string 2" ], "description": "sample string 2", "is_discount": true, "is_always_active": true, "date_rule": [ { "date_from": "2015-12-14T18:51:54+02:00", "date_to": "2015-12-14T18:51:54+02:00" }, { "date_from": "2015-12-14T18:51:54+02:00", "date_to": "2015-12-14T18:51:54+02:00" } ] } ] }

Returns collection of Promotion Codes.

### Get Collection [GET /companies/{company_alias}/resources/promotion_codes?page_index={page_index}&page_size={page_size}]

+ Parameters
    + page_index: 1 (optional, int)
    + page_size: 20 (optional, int)
    + company_alias: (required, string)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "total_count": 1, "items": [ { "code": "sample string 1", "service_types": [ 1, 2 ], "vehicle_types": [ 1, 2 ], "postal_codes": [ "sample string 1", "sample string 2" ], "airport_codes": [ "sample string 1", "sample string 2" ], "description": "sample string 2", "is_discount": true, "is_always_active": true, "date_rule": [ { "date_from": "2015-12-14T18:51:54+02:00", "date_to": "2015-12-14T18:51:54+02:00" }, { "date_from": "2015-12-14T18:51:54+02:00", "date_to": "2015-12-14T18:51:54+02:00" } ] }, { "code": "sample string 1", "service_types": [ 1, 2 ], "vehicle_types": [ 1, 2 ], "postal_codes": [ "sample string 1", "sample string 2" ], "airport_codes": [ "sample string 1", "sample string 2" ], "description": "sample string 2", "is_discount": true, "is_always_active": true, "date_rule": [ { "date_from": "2015-12-14T18:51:54+02:00", "date_to": "2015-12-14T18:51:54+02:00" }, { "date_from": "2015-12-14T18:51:54+02:00", "date_to": "2015-12-14T18:51:54+02:00" } ] } ] }


## Group Poi Type
Provides read operations of POI types


## Collection [/Collection]
Returns paged collection of POI types.

### Get Collection [GET /companies/{company_alias}/pois/types?search_for={search_for}&page_index={page_index}&page_size={page_size}]

+ Parameters
    + search_for: (optional, string)
    + page_index: 1 (optional, int)
    + page_size: 20 (optional, int)
    + company_alias: (required, string)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "total_count": 1, "items": [ { "id": 1, "name": "sample string 2" }, { "id": 1, "name": "sample string 2" } ] }

Returns paged collection of POI types.

### Get Collection [GET /companies/{company_alias}/resources/pois/types?search_for={search_for}&page_index={page_index}&page_size={page_size}]

+ Parameters
    + search_for: (optional, string)
    + page_index: 1 (optional, int)
    + page_size: 20 (optional, int)
    + company_alias: (required, string)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "total_count": 1, "items": [ { "id": 1, "name": "sample string 2" }, { "id": 1, "name": "sample string 2" } ] }


## Group Company
Provides read operations for Company Information resource.


## Collection [/Collection]
Returns company information by specified company ID.

### Get Collection [GET /companies?search_for={search_for}&consumer_id={consumer_id}&page_index={page_index}&page_size={page_size}]

+ Parameters
    + search_for: (optional, string)
    + consumer_id: (optional, int)
    + page_index: 1 (optional, int)
    + page_size: 20 (optional, int)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "total_count": 1, "items": [ { "company_alias": "sample string 1", "company_name": "sample string 2", "is_active": true }, { "company_alias": "sample string 1", "company_name": "sample string 2", "is_active": true } ] }


## Group Privacy Policy
Provides operations for Privacy policy.


## GetOresPrivacyPolicyAsync [/GetOresPrivacyPolicyAsync]

### GetOresPrivacyPolicyAsync [GET /companies/{company_alias}/ores4/policy]

+ Parameters
    + company_alias: (required, string)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "title": "sample string 1", "content": "sample string 2" }


### GetOresPrivacyPolicyAsync [GET /companies/{company_alias}/resources/ores/privacy_policy]

+ Parameters
    + company_alias: (required, string)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "title": "sample string 1", "content": "sample string 2" }


## Group Customer Self Managed Contacts
Provides managing of account's.


## Collections [/Collections]
Returns paged collection of Managed Contacts.

### Get Collections [GET /customers/self/managed_contacts?is_active={is_active}&is_billing_contact={is_billing_contact}&is_booking_contact={is_booking_contact}&is_passenger={is_passenger}&search_for={search_for}&page_index={page_index}&page_size={page_size}]

+ Parameters
    + is_active: true (optional, boolean)
    + is_billing_contact: (optional, boolean)
    + is_booking_contact: (optional, boolean)
    + is_passenger: (optional, boolean)
    + search_in: (optional, string)
    + search_for: (optional, string)
    + sort_by: (optional, string)
    + sort_order: (optional, string)
    + page_index: 1 (optional, int)
    + page_size: 20 (optional, int)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "total_count": 1, "items": [ { "id": 1, "email": "test@test.com", "number": "1234567890", "company": "Limo Anywhere", "billing_contact": { "account_id": 1, "account_number": "12345", "first_name": "Alex", "last_name": "Jonah", "company": "Limo Anywhere", "phone": "+1-234-1111111", "email": "test_1@test.com" }, "is_billing_contact": true, "is_booking_contact": true, "is_passenger": true, "is_active": true, "prefix": "Mr.", "first_name": "John", "last_name": "Smith", "position": "Software developer", "department": "IT department", "address": { "name": "Pick Up Address", "phone": "+1-234-1111110", "country_code": "US", "state_code": "NY", "postal_code": "11111", "county": "Delaware", "city": "New York", "address_line1": "123 Main Street", "address_line2": "123 Second Street", "latitude": 55.5555, "longitude": 33.3333 }, "home_phone": "+1-234-1111112", "office_phone": "+1-234-1111111", "cellular_phone1": "+1-234-1111113", "cellular_phone2": "+1-234-1111114", "cellular_phone3": "+1-234-1111115", "fax1": "+1-234-1111116", "fax2": "+1-234-1111117", "emails": [ { "email": "test_1@test.com", "type": [ "confirmation", "automatic_notification", "payment_receipt", "invoice", "other" ] }, { "email": "test_2@test.com", "type": [ "confirmation", "automatic_notification", "payment_receipt", "invoice", "other" ] } ], "default_payment_type_id": 1, "default_credit_card_id": 1 } ] }


## CRUD [/CRUD]
Provides CRUD (Create/Read/Update/Delete) operations for Managed Contacts.

### Read [GET /customers/self/managed_contacts/{id}]

+ Parameters
    + id: `1` (required, int)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "id": 1, "email": "test@test.com", "number": "1234567890", "company": "Limo Anywhere", "billing_contact": { "account_id": 1, "account_number": "12345", "first_name": "Alex", "last_name": "Jonah", "company": "Limo Anywhere", "phone": "+1-234-1111111", "email": "test_1@test.com" }, "is_billing_contact": true, "is_booking_contact": true, "is_passenger": true, "is_active": true, "prefix": "Mr.", "first_name": "John", "last_name": "Smith", "position": "Software developer", "department": "IT department", "address": { "name": "Pick Up Address", "phone": "+1-234-1111110", "country_code": "US", "state_code": "NY", "postal_code": "11111", "county": "Delaware", "city": "New York", "address_line1": "123 Main Street", "address_line2": "123 Second Street", "latitude": 55.5555, "longitude": 33.3333 }, "home_phone": "+1-234-1111112", "office_phone": "+1-234-1111111", "cellular_phone1": "+1-234-1111113", "cellular_phone2": "+1-234-1111114", "cellular_phone3": "+1-234-1111115", "fax1": "+1-234-1111116", "fax2": "+1-234-1111117", "emails": [ { "email": "test_1@test.com", "type": [ "confirmation", "automatic_notification", "payment_receipt", "invoice", "other" ] }, { "email": "test_2@test.com", "type": [ "confirmation", "automatic_notification", "payment_receipt", "invoice", "other" ] } ], "default_payment_type_id": 1, "default_credit_card_id": 1 }

Provides CRUD (Create/Read/Update/Delete) operations for Managed Contacts.

### Create [POST /customers/self/managed_contacts]

+ Parameters

+ Request

    + `email` (string) Required. Email address. String length: inclusive between 0 and 255.
    + `is_billing_contact` (boolean)
    + `is_booking_contact` (boolean)
    + `is_passenger` (boolean)
    + `is_active` (boolean)
    + `prefix` (string) String length: inclusive between 0 and 50.
    + `first_name` (string) Required. String length: inclusive between 0 and 50.
    + `last_name` (string) Required. String length: inclusive between 0 and 50.
    + `position` (string) String length: inclusive between 0 and 50.
    + `department` (string) String length: inclusive between 0 and 50.
    + `address` (object)
    + `address.name` (string) String length: inclusive between 0 and 500.
    + `address.phone` (string) Phone number. String length: inclusive between 0 and 50.
    + `address.country_code` (string) String length: inclusive between 0 and 5.
    + `address.state_code` (string) String length: inclusive between 0 and 5.
    + `address.postal_code` (string) String length: inclusive between 0 and 15.
    + `address.county` (string) String length: inclusive between 0 and 250.
    + `address.city` (string) String length: inclusive between 0 and 250.
    + `address.address_line1` (string) String length: inclusive between 0 and 250.
    + `address.address_line2` (string) String length: inclusive between 0 and 250.
    + `address.latitude` (float) Required.
    + `address.longitude` (float) Required.
    + `home_phone` (string) Phone number. String length: inclusive between 0 and 50.
    + `office_phone` (string) Phone number. String length: inclusive between 0 and 50.
    + `cellular_phone1` (string) Phone number. String length: inclusive between 0 and 50.
    + `cellular_phone2` (string) Phone number. String length: inclusive between 0 and 50.
    + `cellular_phone3` (string) Phone number. String length: inclusive between 0 and 50.
    + `fax1` (string) Phone number. String length: inclusive between 0 and 50.
    + `fax2` (string) Phone number. String length: inclusive between 0 and 50.
    + `emails` (array)
    + `emails[].email` (string) Required. Email address. String length: inclusive between 0 and 255.
    + `emails[].type` (object)
    + `default_payment_type_id` (int) Range: inclusive between 1 and 2147483647.
    + `default_credit_card_id` (int) Range: inclusive between 1 and 2147483647.

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

    + Body

            { "email": "test@test.com", "is_billing_contact": true, "is_booking_contact": true, "is_passenger": true, "is_active": true, "prefix": "Mr.", "first_name": "John", "last_name": "Smith", "position": "Software developer", "department": "IT department", "address": { "name": "Pick Up Address", "phone": "+1-234-1111110", "country_code": "US", "state_code": "NY", "postal_code": "11111", "county": "Delaware", "city": "New York", "address_line1": "123 Main Street", "address_line2": "123 Second Street", "latitude": 55.5555, "longitude": 33.3333 }, "home_phone": "+1-234-1111112", "office_phone": "+1-234-1111111", "cellular_phone1": "+1-234-1111113", "cellular_phone2": "+1-234-1111114", "cellular_phone3": "+1-234-1111115", "fax1": "+1-234-1111116", "fax2": "+1-234-1111117", "emails": [ { "email": "test_1@test.com", "type": [ "confirmation", "automatic_notification", "payment_receipt", "invoice", "other" ] }, { "email": "test_2@test.com", "type": [ "confirmation", "automatic_notification", "payment_receipt", "invoice", "other" ] } ], "default_payment_type_id": 1, "default_credit_card_id": 1 }

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "id": 1, "email": "test@test.com", "number": "1234567890", "company": "Limo Anywhere", "billing_contact": { "account_id": 1, "account_number": "12345", "first_name": "Alex", "last_name": "Jonah", "company": "Limo Anywhere", "phone": "+1-234-1111111", "email": "test_1@test.com" }, "is_billing_contact": true, "is_booking_contact": true, "is_passenger": true, "is_active": true, "prefix": "Mr.", "first_name": "John", "last_name": "Smith", "position": "Software developer", "department": "IT department", "address": { "name": "Pick Up Address", "phone": "+1-234-1111110", "country_code": "US", "state_code": "NY", "postal_code": "11111", "county": "Delaware", "city": "New York", "address_line1": "123 Main Street", "address_line2": "123 Second Street", "latitude": 55.5555, "longitude": 33.3333 }, "home_phone": "+1-234-1111112", "office_phone": "+1-234-1111111", "cellular_phone1": "+1-234-1111113", "cellular_phone2": "+1-234-1111114", "cellular_phone3": "+1-234-1111115", "fax1": "+1-234-1111116", "fax2": "+1-234-1111117", "emails": [ { "email": "test_1@test.com", "type": [ "confirmation", "automatic_notification", "payment_receipt", "invoice", "other" ] }, { "email": "test_2@test.com", "type": [ "confirmation", "automatic_notification", "payment_receipt", "invoice", "other" ] } ], "default_payment_type_id": 1, "default_credit_card_id": 1 }


### Update [PUT /customers/self/managed_contacts/{id}]

+ Parameters
    + id: `1` (required, int)

+ Request

    + `is_billing_contact` (boolean)
    + `is_booking_contact` (boolean)
    + `is_passenger` (boolean)
    + `is_active` (boolean)
    + `prefix` (string) String length: inclusive between 0 and 50.
    + `first_name` (string) Required. String length: inclusive between 0 and 50.
    + `last_name` (string) Required. String length: inclusive between 0 and 50.
    + `position` (string) String length: inclusive between 0 and 50.
    + `department` (string) String length: inclusive between 0 and 50.
    + `address` (object)
    + `address.name` (string) String length: inclusive between 0 and 500.
    + `address.phone` (string) Phone number. String length: inclusive between 0 and 50.
    + `address.country_code` (string) String length: inclusive between 0 and 5.
    + `address.state_code` (string) String length: inclusive between 0 and 5.
    + `address.postal_code` (string) String length: inclusive between 0 and 15.
    + `address.county` (string) String length: inclusive between 0 and 250.
    + `address.city` (string) String length: inclusive between 0 and 250.
    + `address.address_line1` (string) String length: inclusive between 0 and 250.
    + `address.address_line2` (string) String length: inclusive between 0 and 250.
    + `address.latitude` (float) Required.
    + `address.longitude` (float) Required.
    + `home_phone` (string) Phone number. String length: inclusive between 0 and 50.
    + `office_phone` (string) Phone number. String length: inclusive between 0 and 50.
    + `cellular_phone1` (string) Phone number. String length: inclusive between 0 and 50.
    + `cellular_phone2` (string) Phone number. String length: inclusive between 0 and 50.
    + `cellular_phone3` (string) Phone number. String length: inclusive between 0 and 50.
    + `fax1` (string) Phone number. String length: inclusive between 0 and 50.
    + `fax2` (string) Phone number. String length: inclusive between 0 and 50.
    + `emails` (array)
    + `emails[].email` (string) Required. Email address. String length: inclusive between 0 and 255.
    + `emails[].type` (object)
    + `default_payment_type_id` (int) Range: inclusive between 1 and 2147483647.
    + `default_credit_card_id` (int) Range: inclusive between 1 and 2147483647.

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

    + Body

            { "is_billing_contact": true, "is_booking_contact": true, "is_passenger": true, "is_active": true, "prefix": "Mr.", "first_name": "John", "last_name": "Smith", "position": "Software developer", "department": "IT department", "address": { "name": "Pick Up Address", "phone": "+1-234-1111110", "country_code": "US", "state_code": "NY", "postal_code": "11111", "county": "Delaware", "city": "New York", "address_line1": "123 Main Street", "address_line2": "123 Second Street", "latitude": 55.5555, "longitude": 33.3333 }, "home_phone": "+1-234-1111112", "office_phone": "+1-234-1111111", "cellular_phone1": "+1-234-1111113", "cellular_phone2": "+1-234-1111114", "cellular_phone3": "+1-234-1111115", "fax1": "+1-234-1111116", "fax2": "+1-234-1111117", "emails": [ { "email": "test_1@test.com", "type": [ "confirmation", "automatic_notification", "payment_receipt", "invoice", "other" ] }, { "email": "test_2@test.com", "type": [ "confirmation", "automatic_notification", "payment_receipt", "invoice", "other" ] } ], "default_payment_type_id": 1, "default_credit_card_id": 1 }


### Delete [DELETE /customers/self/managed_contacts/{id}]

+ Parameters
    + id: `1` (required, int)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}


## Group CompanyAlias



## Get [/Get]
Returns detailed company information by specified company ID.

### Get [GET /companies/{company_alias}]

+ Parameters
    + company_alias: (required, string)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "country_code": "sample string 1", "state_code": "sample string 2", "postal_code": "sample string 3", "city": "sample string 4", "address_line1": "sample string 5", "address_line2": "sample string 6", "business_number": "sample string 7", "is_business_number_visible": true, "phone1": "sample string 9", "phone2": "sample string 10", "fax": "sample string 11", "general_email": "sample string 12", "reservation_email": "sample string 13", "billing_email": "sample string 14", "quote_email": "sample string 15", "website_url": "sample string 16", "logo_image_url": "sample string 17", "company_modules": [ "sample string 1", "sample string 2" ], "company_alias": "sample string 18", "name": "sample string 19", "is_active": true }


## Collection [/Collection]
Returns companies information.

### Get Collection [GET /companies/{company_alias}/aliases?page_index={page_index}&page_size={page_size}]

+ Parameters
    + page_index: 1 (optional, int)
    + page_size: 20 (optional, int)
    + company_alias: (required, string)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "total_count": 1, "items": [ { "company_alias": "sample string 1", "name": "sample string 2", "is_active": true }, { "company_alias": "sample string 1", "name": "sample string 2", "is_active": true } ] }


## Group Airline
Provides read operations for Airline(s)


## Collection [/Collection]
Returns paged collection of Airlines.

### Get Collection [GET /airlines?search_for={search_for}&page_index={page_index}&page_size={page_size}]

+ Parameters
    + search_for: (optional, string)
    + page_index: 1 (optional, int)
    + page_size: 20 (optional, int)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "total_count": 1, "items": [ { "iata": "sample string 1", "name": "sample string 2" }, { "iata": "sample string 1", "name": "sample string 2" } ] }

Returns paged collection of Airlines.

### Get Collection [GET /resources/airlines?search_for={search_for}&page_index={page_index}&page_size={page_size}]

+ Parameters
    + search_for: (optional, string)
    + page_index: 1 (optional, int)
    + page_size: 20 (optional, int)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "total_count": 1, "items": [ { "iata": "sample string 1", "name": "sample string 2" }, { "iata": "sample string 1", "name": "sample string 2" } ] }


## GetAirlineAsync [/GetAirlineAsync]

### GetAirlineAsync [GET /airlines?iata={iata}]

+ Parameters
    + iata: (required, string)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "iata": "sample string 1", "name": "sample string 2" }


### GetAirlineAsync [GET /resources/airlines?iata={iata}]

+ Parameters
    + iata: (required, string)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "iata": "sample string 1", "name": "sample string 2" }


## Group ORES Service Type
Provides operations for ORES 4 Service Type resources. (In future will be joined with Service Type as sub-model)


## CRUD [/CRUD]
Returns ORES Service.

### Read [GET /companies/{company_alias}/resources/ores/service_types/{id}]

+ Parameters
    + id: `1` (required, int)
    + company_alias: (required, string)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "service_type_id": 1, "display_name": "sample string 2", "rental_agreement_id": 1, "is_active": true, "icon_name": "sample string 4", "icon_color_code": "sample string 5", "is_visible_on_landing_page": true, "order_number": 7 }


## Collection [/Collection]
Returns collection of ORES Services.

### Get Collection [GET /companies/{company_alias}/resources/ores/service_types?is_visible_on_landing_page={is_visible_on_landing_page}&page_index={page_index}&page_size={page_size}]

+ Parameters
    + is_visible_on_landing_page: (optional, boolean)
    + page_index: 1 (optional, int)
    + page_size: 20 (optional, int)
    + company_alias: (required, string)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "total_count": 1, "items": [ { "service_type_id": 1, "display_name": "sample string 2", "rental_agreement_id": 1, "icon_name": "sample string 3", "icon_color_code": "sample string 4", "is_visible_on_landing_page": true }, { "service_type_id": 1, "display_name": "sample string 2", "rental_agreement_id": 1, "icon_name": "sample string 3", "icon_color_code": "sample string 4", "is_visible_on_landing_page": true } ] }


## Group Customer Self Account
Provides viewing and editing of the Account information. <br/> Update Password: It allows to update the password for account <br/> Update Email: It allows to update the email for account <br/> Update: Full account update <br/> Update partially: Partially account update <br/>


## Update [/Update]

### Update Password [PUT /customers/self/password]

+ Parameters

+ Request

    + `new_password` (string) Required. String length: inclusive between 3 and 50.
    + `current_password` (string) Required. String length: inclusive between 0 and 50.

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

    + Body

            { "new_password": "Test@2015!^UD", "current_password": "Test@2014!^UD" }


### Update Email [PUT /customers/self/email]

+ Parameters

+ Request

    + `new_email` (string) Required. Email address. String length: inclusive between 0 and 255.
    + `current_password` (string) Required. String length: inclusive between 0 and 50.

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

    + Body

            { "new_email": "test_2@gmail.com", "current_password": "test_1@gmail.com" }

Provides operation of full and partially update Customer Self Account.

### Update [PUT /customers/self]

+ Parameters

+ Request

    + `prefix` (string) String length: inclusive between 0 and 50.
    + `first_name` (string) Required. String length: inclusive between 0 and 50.
    + `last_name` (string) Required. String length: inclusive between 0 and 50.
    + `position` (string) String length: inclusive between 0 and 50.
    + `department` (string) String length: inclusive between 0 and 50.
    + `company` (string) String length: inclusive between 0 and 50.
    + `address` (object)
    + `address.name` (string) String length: inclusive between 0 and 500.
    + `address.phone` (string) Phone number. String length: inclusive between 0 and 50.
    + `address.country_code` (string) String length: inclusive between 0 and 5.
    + `address.state_code` (string) String length: inclusive between 0 and 5.
    + `address.postal_code` (string) String length: inclusive between 0 and 15.
    + `address.county` (string) String length: inclusive between 0 and 250.
    + `address.city` (string) String length: inclusive between 0 and 250.
    + `address.address_line1` (string) String length: inclusive between 0 and 250.
    + `address.address_line2` (string) String length: inclusive between 0 and 250.
    + `address.latitude` (float) Required.
    + `address.longitude` (float) Required.
    + `home_phone` (string) Phone number. String length: inclusive between 0 and 50.
    + `office_phone` (string) Phone number. String length: inclusive between 0 and 50.
    + `cellular_phone1` (string) String length: inclusive between 0 and 50.
    + `cellular_phone2` (string) Phone number. String length: inclusive between 0 and 50.
    + `cellular_phone3` (string) Phone number. String length: inclusive between 0 and 50.
    + `fax1` (string) Phone number. String length: inclusive between 0 and 50.
    + `fax2` (string) Phone number. String length: inclusive between 0 and 50.
    + `emails` (array)
    + `emails[].email` (string) Required. Email address. String length: inclusive between 0 and 255.
    + `emails[].type` (object)
    + `default_payment_type_id` (int) Range: inclusive between 1 and 2147483647.
    + `default_credit_card_id` (int) Range: inclusive between 1 and 2147483647.

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

    + Body

            { "prefix": "Mr.", "first_name": "John", "last_name": "Smith", "position": "Software developer", "department": "IT department", "company": "Limo Anywhere", "address": { "name": "Pick Up Address", "phone": "+1-234-1111110", "country_code": "US", "state_code": "NY", "postal_code": "11111", "county": "Delaware", "city": "New York", "address_line1": "123 Main Street", "address_line2": "123 Second Street", "latitude": 55.5555, "longitude": 33.3333 }, "home_phone": "+1-234-1111112", "office_phone": "+1-234-1111111", "cellular_phone1": "+1-234-1111113", "cellular_phone2": "+1-234-1111114", "cellular_phone3": "+1-234-1111115", "fax1": "+1-234-1111116", "fax2": "+1-234-1111117", "emails": [ { "email": "test_1@test.com", "type": [ "confirmation", "automatic_notification", "payment_receipt", "invoice", "other" ] }, { "email": "test_2@test.com", "type": [ "confirmation", "automatic_notification", "payment_receipt", "invoice", "other" ] } ], "default_payment_type_id": 111, "default_credit_card_id": 222 }


### Update partially [PATCH /customers/self]

+ Parameters

+ Request


    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

    + Body

            An exception has occurred while using the formatter 'JsonTextMediaTypeFormatter' to generate sample for media type 'application/json'. Exception message: An object of type 'PageDTO`1' cannot be used with a type parameter of 'Delta`1'. Parameter name: value


## Get [/Get]
Return Customer Self Account information.

### Get [GET /customers/self]

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "id": 1, "parent_id": 1, "email": "test@test.com", "number": "1234567890", "is_billing_contact": true, "is_booking_contact": true, "is_passenger": true, "is_active": true, "prefix": "Mr.", "first_name": "John", "last_name": "Smith", "position": "Software developer", "department": "IT department", "company": "Limo Anywhere", "address": { "name": "Pick Up Address", "phone": "+1-234-1111110", "country_code": "US", "state_code": "NY", "postal_code": "11111", "county": "Delaware", "city": "New York", "address_line1": "123 Main Street", "address_line2": "123 Second Street", "latitude": 55.5555, "longitude": 33.3333 }, "home_phone": "+1-234-1111112", "office_phone": "+1-234-1111111", "cellular_phone1": "+1-234-1111113", "cellular_phone2": "+1-234-1111114", "cellular_phone3": "+1-234-1111115", "fax1": "+1-234-1111116", "fax2": "+1-234-1111117", "emails": [ { "email": "test_1@test.com", "type": [ "confirmation", "automatic_notification", "payment_receipt", "invoice", "other" ] }, { "email": "test_2@test.com", "type": [ "confirmation", "automatic_notification", "payment_receipt", "invoice", "other" ] } ], "default_payment_type_id": 111, "default_credit_card_id": 222 }


## Group Customer Self Booking Contact
Provides operations for view Account Booking contact(s).


## Get [/Get]
Returns Customer Self Booking contact by ID.

### Get [GET /customers/self/booking_contacts/{id}]

+ Parameters
    + id: `1` (required, int)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "id": 1, "email": "test@test.com", "number": "1234567890", "company": "Limo Anywhere", "billing_contact": { "account_id": 1, "account_number": "12345", "first_name": "Alex", "last_name": "Jonah", "company": "Limo Anywhere", "phone": "+1-234-1111111", "email": "test_1@test.com" }, "is_billing_contact": true, "is_booking_contact": true, "is_passenger": true, "is_active": true, "prefix": "Mr.", "first_name": "John", "last_name": "Smith", "position": "Software developer", "department": "IT department", "address": { "name": "Pick Up Address", "phone": "+1-234-1111110", "country_code": "US", "state_code": "NY", "postal_code": "11111", "county": "Delaware", "city": "New York", "address_line1": "123 Main Street", "address_line2": "123 Second Street", "latitude": 55.5555, "longitude": 33.3333 }, "home_phone": "+1-234-1111112", "office_phone": "+1-234-1111111", "cellular_phone1": "+1-234-1111113", "cellular_phone2": "+1-234-1111114", "cellular_phone3": "+1-234-1111115", "fax1": "+1-234-1111116", "fax2": "+1-234-1111117", "emails": [ { "email": "test_1@test.com", "type": [ "confirmation", "automatic_notification", "payment_receipt", "invoice", "other" ] }, { "email": "test_2@test.com", "type": [ "confirmation", "automatic_notification", "payment_receipt", "invoice", "other" ] } ], "default_payment_type_id": 1, "default_credit_card_id": 1 }


## Collection [/Collection]
Returns Paged Collection of Customer Self Booking contacts.

### Get Collection [GET /customers/self/booking_contacts?is_active={is_active}&search_for={search_for}&page_index={page_index}&page_size={page_size}]

+ Parameters
    + is_active: true (optional, boolean)
    + search_in: (optional, string)
    + search_for: (optional, string)
    + sort_by: (optional, string)
    + sort_order: (optional, string)
    + page_index: 1 (optional, int)
    + page_size: 20 (optional, int)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "total_count": 1, "items": [ { "id": 1, "email": "test@test.com", "number": "1234567890", "company": "Limo Anywhere", "billing_contact": { "account_id": 1, "account_number": "12345", "first_name": "Alex", "last_name": "Jonah", "company": "Limo Anywhere", "phone": "+1-234-1111111", "email": "test_1@test.com" }, "is_billing_contact": true, "is_booking_contact": true, "is_passenger": true, "is_active": true, "prefix": "Mr.", "first_name": "John", "last_name": "Smith", "position": "Software developer", "department": "IT department", "address": { "name": "Pick Up Address", "phone": "+1-234-1111110", "country_code": "US", "state_code": "NY", "postal_code": "11111", "county": "Delaware", "city": "New York", "address_line1": "123 Main Street", "address_line2": "123 Second Street", "latitude": 55.5555, "longitude": 33.3333 }, "home_phone": "+1-234-1111112", "office_phone": "+1-234-1111111", "cellular_phone1": "+1-234-1111113", "cellular_phone2": "+1-234-1111114", "cellular_phone3": "+1-234-1111115", "fax1": "+1-234-1111116", "fax2": "+1-234-1111117", "emails": [ { "email": "test_1@test.com", "type": [ "confirmation", "automatic_notification", "payment_receipt", "invoice", "other" ] }, { "email": "test_2@test.com", "type": [ "confirmation", "automatic_notification", "payment_receipt", "invoice", "other" ] } ], "default_payment_type_id": 1, "default_credit_card_id": 1 } ] }


## Group Fbo
Provides read operation for FBO(s) (Private Airlines)


## Collection [/Collection]
Returns paged collection of FBO(s).

### Get Collection [GET /companies/{company_alias}/fbos?search_for={search_for}&page_index={page_index}&page_size={page_size}]

+ Parameters
    + search_for: (optional, string)
    + page_index: 1 (optional, int)
    + page_size: 20 (optional, int)
    + company_alias: (required, string)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "total_count": 1, "items": [ { "id": 1, "airport_code": "sample string 2", "address": { "name": "sample string 1", "phone": "sample string 2", "country_code": "sample string 3", "state_code": "sample string 4", "postal_code": "sample string 5", "county": "sample string 6", "city": "sample string 7", "address_line1": "sample string 8", "address_line2": "sample string 9", "latitude": 10.1, "longitude": 11.1 } }, { "id": 1, "airport_code": "sample string 2", "address": { "name": "sample string 1", "phone": "sample string 2", "country_code": "sample string 3", "state_code": "sample string 4", "postal_code": "sample string 5", "county": "sample string 6", "city": "sample string 7", "address_line1": "sample string 8", "address_line2": "sample string 9", "latitude": 10.1, "longitude": 11.1 } } ] }

Returns paged collection of FBO(s).

### Get Collection [GET /companies/{company_alias}/resources/fbos?search_for={search_for}&page_index={page_index}&page_size={page_size}]

+ Parameters
    + search_for: (optional, string)
    + page_index: 1 (optional, int)
    + page_size: 20 (optional, int)
    + company_alias: (required, string)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "total_count": 1, "items": [ { "id": 1, "airport_code": "sample string 2", "address": { "name": "sample string 1", "phone": "sample string 2", "country_code": "sample string 3", "state_code": "sample string 4", "postal_code": "sample string 5", "county": "sample string 6", "city": "sample string 7", "address_line1": "sample string 8", "address_line2": "sample string 9", "latitude": 10.1, "longitude": 11.1 } }, { "id": 1, "airport_code": "sample string 2", "address": { "name": "sample string 1", "phone": "sample string 2", "country_code": "sample string 3", "state_code": "sample string 4", "postal_code": "sample string 5", "county": "sample string 6", "city": "sample string 7", "address_line1": "sample string 8", "address_line2": "sample string 9", "latitude": 10.1, "longitude": 11.1 } } ] }


## Group Customer Self Statistics
Provides viewing of account's statistics.


## Get [/Get]
Returns usage statictics.

### Get [GET /customers/self/statistics/usage?from={from}&to={to}&count={count}]

+ Parameters
    + from: (optional, string)
    + to: (optional, string)
    + count: 20 (optional, int)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "total_usage": { "first_name": "Gavin", "last_name": "Baxter", "ride_count": 999, "total_spent": 9999.99 }, "passenger_usage": [ { "first_name": "Gareth", "last_name": "Burton", "ride_count": 333, "total_spent": 3333.33 }, { "first_name": "Davis", "last_name": "Randall", "ride_count": 666, "total_spent": 6666.66 } ] }


## Group Config
Provides operations for Configuration resource.


## Get [/Get]
Returns configuration for company with specified ID.

### Get [GET /companies/{company_alias}/config]

+ Parameters
    + company_alias: (required, string)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "main": { "time_zone_offset": "00:00:00.1234567", "time_zone_code": "sample string 2", "date_format_code": "sample string 3", "time_format_code": "sample string 4", "currency_code": "sample string 5", "date_format": "sample string 6", "time_format": "sample string 7", "date_time_format": "sample string 6 sample string 7", "distance_units": "miles" }, "reservation": { "new_reservation_button_options": [], "apply_distance_rates_to_service_types": [ 1, 2 ], "apply_hourly_rates_to_service_types": [ 1, 2 ], "apply_passenger_rates_to_service_types": [ 1, 2 ], "apply_stop_rates_to_service_types": [ 1, 2 ], "default_rental_agreement_id": 1, "is_auto_offer_to_driver_enabled": true, "airport_curbside_pickup_fee": 2.0, "airport_inside_pickup_fee": 3.0, "airport_curbside_pickup_rate_id": 4, "airport_inside_pickup_rate_id": 5 }, "information": { "company_alias": "sample string 1", "name": "sample string 2", "country_code": "sample string 3", "state_code": "sample string 4", "postal_code": "sample string 5", "city": "sample string 6", "address_line1": "sample string 7", "address_line2": "sample string 8", "business_number": "sample string 9", "is_business_number_visible": true, "phone1": "sample string 11", "phone2": "sample string 12", "fax": "sample string 13", "general_email": "sample string 14", "reservation_email": "sample string 15", "billing_email": "sample string 16", "quote_email": "sample string 17", "website_url": "sample string 18", "logo_image_url": "sample string 19", "company_modules": [ "sample string 1", "sample string 2" ] }, "notification": { "account_creation_notification_email": "sample string 1", "primary_contact_email": "sample string 2", "primary_contact_phone": "sample string 3", "primary_contact_wireless_provider": "sample string 4", "secondary_contact_email": "sample string 5", "secondary_contact_phone": "sample string 6", "secondary_contact_wireless_provider": "sample string 7", "send_on_trip_processing_to_primary_contact": true, "send_on_trip_processing_to_secondary_contact": true, "send_on_quote_create_to_primary_contact": true, "send_on_quote_create_to_secondary_contact": true }, "confirmation": { "use_custom_mapping": true, "mapped_standart_confirmation": { "form_type": "standard_confirmation", "custom_form_type": "customer", "custom_form_id": 1 }, "mapped_cancellation_confirmation": { "form_type": "standard_confirmation", "custom_form_type": "customer", "custom_form_id": 1 }, "mapped_reservation_receipt": { "form_type": "standard_confirmation", "custom_form_type": "customer", "custom_form_id": 1 }, "mapped_payment_receipt": { "form_type": "standard_confirmation", "custom_form_type": "customer", "custom_form_id": 1 }, "mapped_customer_trip_sheet": { "form_type": "standard_confirmation", "custom_form_type": "customer", "custom_form_id": 1 }, "mapped_driver_trip_sheet": { "form_type": "standard_confirmation", "custom_form_type": "customer", "custom_form_id": 1 }, "mapped_greeting_sign": { "form_type": "standard_confirmation", "custom_form_type": "customer", "custom_form_id": 1 }, "mapped_affiliate_trip_sheet": { "form_type": "standard_confirmation", "custom_form_type": "customer", "custom_form_id": 1 }, "mapped_invoice": { "form_type": "standard_confirmation", "custom_form_type": "customer", "custom_form_id": 1 }, "send_copies_to_reservation_email": true, "send_on_payment_create_to_customer": true, "send_on_trip_create_to_customer": true, "send_on_trip_update_to_customer": true, "send_on_trip_processing_to_booking_contact": true, "attach_pdf": true }, "distance_calculation": { "route_optimize_by": "distance", "road_type_to_avoid": "not_selected" } }


## Update [/Update]
Updates configuration for company with specified ID.

### Update [PUT /companies/{company_alias}/config]

+ Parameters
    + company_alias: (required, string)

+ Request

    + `main` (object) Required.
    + `main.time_zone_offset` (object)
    + `main.time_zone_code` (string) String length: inclusive between 0 and 20.
    + `main.date_format_code` (string) Required. String length: inclusive between 0 and 50.
    + `main.time_format_code` (string) Required. String length: inclusive between 0 and 50.
    + `main.currency_code` (string) String length: inclusive between 0 and 3.
    + `main.date_format` (string) String length: inclusive between 0 and 50.
    + `main.time_format` (string) String length: inclusive between 0 and 50.
    + `main.date_time_format` (string)
    + `main.distance_units` (object)
    + `reservation` (object) Required.
    + `reservation.default_status_code` (object) Required.
    + `reservation.default_status_code.value` (string)
    + `new_reservation_button_options` (object)
    + `apply_distance_rates_to_service_types` (array)
    + `apply_hourly_rates_to_service_types` (array)
    + `apply_passenger_rates_to_service_types` (array)
    + `apply_stop_rates_to_service_types` (array)
    + `default_rental_agreement_id` (int) Range: inclusive between 1 and 2147483647.
    + `is_auto_offer_to_driver_enabled` (boolean) Required.
    + `airport_curbside_pickup_fee` (object)
    + `airport_inside_pickup_fee` (object)
    + `airport_curbside_pickup_rate_id` (int)
    + `airport_inside_pickup_rate_id` (int)
    + `information` (object) Required.
    + `information.company_alias` (string) Required. String length: inclusive between 0 and 50.
    + `information.name` (string) Required. String length: inclusive between 0 and 250.
    + `information.country_code` (string) String length: inclusive between 0 and 20.
    + `information.state_code` (string) String length: inclusive between 0 and 20.
    + `information.postal_code` (string) String length: inclusive between 0 and 20.
    + `information.city` (string) String length: inclusive between 0 and 250.
    + `information.address_line1` (string) String length: inclusive between 0 and 250.
    + `information.address_line2` (string) String length: inclusive between 0 and 250.
    + `information.business_number` (string)
    + `information.is_business_number_visible` (boolean)
    + `information.phone1` (string) Phone number. String length: inclusive between 0 and 50.
    + `information.phone2` (string) Phone number. String length: inclusive between 0 and 50.
    + `information.fax` (string) Phone number. String length: inclusive between 0 and 50.
    + `information.general_email` (string) Required. Email address. String length: inclusive between 0 and 255.
    + `information.reservation_email` (string) Email address. String length: inclusive between 0 and 255.
    + `information.billing_email` (string) Email address. String length: inclusive between 0 and 255.
    + `information.quote_email` (string) Email address. String length: inclusive between 0 and 255.
    + `information.website_url` (string) String length: inclusive between 0 and 255.
    + `information.logo_image_url` (string) String length: inclusive between 0 and 255.
    + `information.company_modules` (array)
    + `notification` (object) Required.
    + `notification.account_creation_notification_email` (string) Email address. String length: inclusive between 0 and 255.
    + `notification.primary_contact_email` (string) Email address. String length: inclusive between 0 and 255.
    + `notification.primary_contact_phone` (string) Phone number. String length: inclusive between 0 and 50.
    + `notification.primary_contact_wireless_provider` (string) String length: inclusive between 0 and 255.
    + `notification.secondary_contact_email` (string) Email address. String length: inclusive between 0 and 255.
    + `notification.secondary_contact_phone` (string) Phone number. String length: inclusive between 0 and 50.
    + `notification.secondary_contact_wireless_provider` (string) String length: inclusive between 0 and 255.
    + `notification.send_on_trip_processing_to_primary_contact` (boolean)
    + `notification.send_on_trip_processing_to_secondary_contact` (boolean)
    + `notification.send_on_quote_create_to_primary_contact` (boolean)
    + `notification.send_on_quote_create_to_secondary_contact` (boolean)
    + `confirmation` (object) Required.
    + `confirmation.use_custom_mapping` (boolean)
    + `confirmation.mapped_standart_confirmation` (object)
    + `confirmation.mapped_standart_confirmation.form_type` (object)
    + `confirmation.mapped_standart_confirmation.custom_form_type` (object)
    + `confirmation.mapped_standart_confirmation.custom_form_id` (int) Range: inclusive between 1 and 2147483647.
    + `mapped_cancellation_confirmation` (object)
    + `mapped_cancellation_confirmation.form_type` (object)
    + `mapped_cancellation_confirmation.custom_form_type` (object)
    + `mapped_cancellation_confirmation.custom_form_id` (int) Range: inclusive between 1 and 2147483647.
    + `mapped_reservation_receipt` (object)
    + `mapped_reservation_receipt.form_type` (object)
    + `mapped_reservation_receipt.custom_form_type` (object)
    + `mapped_reservation_receipt.custom_form_id` (int) Range: inclusive between 1 and 2147483647.
    + `mapped_payment_receipt` (object)
    + `mapped_payment_receipt.form_type` (object)
    + `mapped_payment_receipt.custom_form_type` (object)
    + `mapped_payment_receipt.custom_form_id` (int) Range: inclusive between 1 and 2147483647.
    + `mapped_customer_trip_sheet` (object)
    + `mapped_customer_trip_sheet.form_type` (object)
    + `mapped_customer_trip_sheet.custom_form_type` (object)
    + `mapped_customer_trip_sheet.custom_form_id` (int) Range: inclusive between 1 and 2147483647.
    + `mapped_driver_trip_sheet` (object)
    + `mapped_driver_trip_sheet.form_type` (object)
    + `mapped_driver_trip_sheet.custom_form_type` (object)
    + `mapped_driver_trip_sheet.custom_form_id` (int) Range: inclusive between 1 and 2147483647.
    + `mapped_greeting_sign` (object)
    + `mapped_greeting_sign.form_type` (object)
    + `mapped_greeting_sign.custom_form_type` (object)
    + `mapped_greeting_sign.custom_form_id` (int) Range: inclusive between 1 and 2147483647.
    + `mapped_affiliate_trip_sheet` (object)
    + `mapped_affiliate_trip_sheet.form_type` (object)
    + `mapped_affiliate_trip_sheet.custom_form_type` (object)
    + `mapped_affiliate_trip_sheet.custom_form_id` (int) Range: inclusive between 1 and 2147483647.
    + `mapped_invoice` (object)
    + `mapped_invoice.form_type` (object)
    + `mapped_invoice.custom_form_type` (object)
    + `mapped_invoice.custom_form_id` (int) Range: inclusive between 1 and 2147483647.
    + `send_copies_to_reservation_email` (boolean)
    + `send_on_payment_create_to_customer` (boolean)
    + `send_on_trip_create_to_customer` (boolean)
    + `send_on_trip_update_to_customer` (boolean)
    + `send_on_trip_processing_to_booking_contact` (boolean)
    + `attach_pdf` (boolean)
    + `distance_calculation` (object) Required.
    + `distance_calculation.route_optimize_by` (object)
    + `distance_calculation.road_type_to_avoid` (object)

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

    + Body

            { "main": { "time_zone_offset": "00:00:00.1234567", "time_zone_code": "sample string 2", "date_format_code": "sample string 3", "time_format_code": "sample string 4", "currency_code": "sample string 5", "date_format": "sample string 6", "time_format": "sample string 7", "date_time_format": "sample string 6 sample string 7", "distance_units": "miles" }, "reservation": { "new_reservation_button_options": [], "apply_distance_rates_to_service_types": [ 1, 2 ], "apply_hourly_rates_to_service_types": [ 1, 2 ], "apply_passenger_rates_to_service_types": [ 1, 2 ], "apply_stop_rates_to_service_types": [ 1, 2 ], "default_rental_agreement_id": 1, "is_auto_offer_to_driver_enabled": true, "airport_curbside_pickup_fee": 2.0, "airport_inside_pickup_fee": 3.0, "airport_curbside_pickup_rate_id": 4, "airport_inside_pickup_rate_id": 5 }, "information": { "company_alias": "sample string 1", "name": "sample string 2", "country_code": "sample string 3", "state_code": "sample string 4", "postal_code": "sample string 5", "city": "sample string 6", "address_line1": "sample string 7", "address_line2": "sample string 8", "business_number": "sample string 9", "is_business_number_visible": true, "phone1": "sample string 11", "phone2": "sample string 12", "fax": "sample string 13", "general_email": "sample string 14", "reservation_email": "sample string 15", "billing_email": "sample string 16", "quote_email": "sample string 17", "website_url": "sample string 18", "logo_image_url": "sample string 19", "company_modules": [ "sample string 1", "sample string 2" ] }, "notification": { "account_creation_notification_email": "sample string 1", "primary_contact_email": "sample string 2", "primary_contact_phone": "sample string 3", "primary_contact_wireless_provider": "sample string 4", "secondary_contact_email": "sample string 5", "secondary_contact_phone": "sample string 6", "secondary_contact_wireless_provider": "sample string 7", "send_on_trip_processing_to_primary_contact": true, "send_on_trip_processing_to_secondary_contact": true, "send_on_quote_create_to_primary_contact": true, "send_on_quote_create_to_secondary_contact": true }, "confirmation": { "use_custom_mapping": true, "mapped_standart_confirmation": { "form_type": "standard_confirmation", "custom_form_type": "customer", "custom_form_id": 1 }, "mapped_cancellation_confirmation": { "form_type": "standard_confirmation", "custom_form_type": "customer", "custom_form_id": 1 }, "mapped_reservation_receipt": { "form_type": "standard_confirmation", "custom_form_type": "customer", "custom_form_id": 1 }, "mapped_payment_receipt": { "form_type": "standard_confirmation", "custom_form_type": "customer", "custom_form_id": 1 }, "mapped_customer_trip_sheet": { "form_type": "standard_confirmation", "custom_form_type": "customer", "custom_form_id": 1 }, "mapped_driver_trip_sheet": { "form_type": "standard_confirmation", "custom_form_type": "customer", "custom_form_id": 1 }, "mapped_greeting_sign": { "form_type": "standard_confirmation", "custom_form_type": "customer", "custom_form_id": 1 }, "mapped_affiliate_trip_sheet": { "form_type": "standard_confirmation", "custom_form_type": "customer", "custom_form_id": 1 }, "mapped_invoice": { "form_type": "standard_confirmation", "custom_form_type": "customer", "custom_form_id": 1 }, "send_copies_to_reservation_email": true, "send_on_payment_create_to_customer": true, "send_on_trip_create_to_customer": true, "send_on_trip_update_to_customer": true, "send_on_trip_processing_to_booking_contact": true, "attach_pdf": true }, "distance_calculation": { "route_optimize_by": "distance", "road_type_to_avoid": "not_selected" } }


## Group Referral Source
Provides operations for Referral Source resources.


## Get Collection [/Get Collection]
Returns collection of company Referral Sources.

### Get Collection [GET /companies/{company_alias}/resources/referral_sources?page_index={page_index}&page_size={page_size}]

+ Parameters
    + page_index: 1 (optional, int)
    + page_size: 20 (optional, int)
    + company_alias: (required, string)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "total_count": 1, "items": [ { "id": 1, "name": "sample string 2", "description": "sample string 3" }, { "id": 1, "name": "sample string 2", "description": "sample string 3" } ] }


## Group Rental Agreement
Provides read operations with Rental Agreement.


## Get [/Get]
This method returns Rental Agreement by Id.

### GetRentalAgreementAsync [GET /companies/{company_alias}/resources/rental_agreements/{id}]

+ Parameters
    + id: `1` (required, int)
    + company_alias: (required, string)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "id": 1, "name": "sample string 2", "text": "sample string 3" }


## Collection [/Collection]

### Get Collection [GET /companies/{company_alias}/resources/rental_agreements?page_index={page_index}&page_size={page_size}]

+ Parameters
    + page_index: 1 (optional, int)
    + page_size: 20 (optional, int)
    + company_alias: (required, string)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "total_count": 1, "items": [ { "id": 1, "created_at": "2015-12-14T18:51:54+02:00", "updated_at": "2015-12-14T18:51:54+02:00", "name": "sample string 3", "text": "sample string 4", "is_active": true }, { "id": 1, "created_at": "2015-12-14T18:51:54+02:00", "updated_at": "2015-12-14T18:51:54+02:00", "name": "sample string 3", "text": "sample string 4", "is_active": true } ] }


## Group Consumer
Provides operations for Consumers.


## GetConsumerAsync [/GetConsumerAsync]
Returns consumer.

### GetConsumerAsync [GET /admin/consumers/{id}]

+ Parameters
    + id: `1` (required, int)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "id": 1, "card_last_digits": "sample string 2", "created_at": "2015-12-14T18:51:54+02:00", "name": "sample string 5", "api_plan_id": 1, "address_line": "sample string 6", "city": "sample string 7", "state": "sample string 8", "postal_code": "sample string 9", "main_phone1": "sample string 10", "main_phone2": "sample string 11", "cellular_phone": "sample string 12", "email1": "sample string 13", "email2": "sample string 14", "sales_representative_id": 1, "notes": "sample string 15", "card_holder_name": "sample string 16", "card_expires_at": "2015-12-14T18:51:54+02:00", "card_network": "other", "is_monthly_payment_auto_calculation_enabled": true, "is_active": true, "monthly_fee": 19.0, "next_payment_at": "2015-12-14T18:51:54+02:00" }


## CreateConsumerAsync [/CreateConsumerAsync]
Creates consumer.

### CreateConsumerAsync [POST /admin/consumers]

+ Parameters

+ Request

    + `name` (string) Required. String length: inclusive between 3 and 250.
    + `consumer_type` (object) Required.
    + `consumer_type.value` (string)
    + `api_plan_id` (int) Range: inclusive between 1 and 2147483647.
    + `address_line` (string) String length: inclusive between 0 and 250.
    + `city` (string) String length: inclusive between 0 and 50.
    + `state` (string) String length: inclusive between 0 and 50.
    + `postal_code` (string) String length: inclusive between 0 and 20.
    + `main_phone1` (string) String length: inclusive between 0 and 100.
    + `main_phone2` (string) String length: inclusive between 0 and 100.
    + `cellular_phone` (string) String length: inclusive between 0 and 100.
    + `email1` (string) String length: inclusive between 0 and 255.
    + `email2` (string) String length: inclusive between 0 and 255.
    + `sales_representative_id` (int) Range: inclusive between 1 and 2147483647.
    + `notes` (string) String length: inclusive between 0 and 4000.
    + `card_holder_name` (string) String length: inclusive between 0 and 250.
    + `card_expires_at` (object)
    + `card_number` (string) String length: inclusive between 0 and 20.
    + `card_network` (object)
    + `is_monthly_payment_auto_calculation_enabled` (boolean)
    + `is_active` (boolean)
    + `monthly_fee` (object) Non-negative.
    + `next_payment_at` (object)

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

    + Body

            { "name": "sample string 1", "api_plan_id": 1, "address_line": "sample string 2", "city": "sample string 3", "state": "sample string 4", "postal_code": "sample string 5", "main_phone1": "sample string 6", "main_phone2": "sample string 7", "cellular_phone": "sample string 8", "email1": "sample string 9", "email2": "sample string 10", "sales_representative_id": 1, "notes": "sample string 11", "card_holder_name": "sample string 12", "card_expires_at": "2015-12-14T18:51:54+02:00", "card_number": "sample string 13", "card_network": "other", "is_monthly_payment_auto_calculation_enabled": true, "is_active": true, "monthly_fee": 16.0, "next_payment_at": "2015-12-14T18:51:54+02:00" }

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "id": 1, "card_last_digits": "sample string 2", "created_at": "2015-12-14T18:51:54+02:00", "name": "sample string 5", "api_plan_id": 1, "address_line": "sample string 6", "city": "sample string 7", "state": "sample string 8", "postal_code": "sample string 9", "main_phone1": "sample string 10", "main_phone2": "sample string 11", "cellular_phone": "sample string 12", "email1": "sample string 13", "email2": "sample string 14", "sales_representative_id": 1, "notes": "sample string 15", "card_holder_name": "sample string 16", "card_expires_at": "2015-12-14T18:51:54+02:00", "card_network": "other", "is_monthly_payment_auto_calculation_enabled": true, "is_active": true, "monthly_fee": 19.0, "next_payment_at": "2015-12-14T18:51:54+02:00" }


## PutConsumerAsync [/PutConsumerAsync]
Update consumer.

### PutConsumerAsync [PUT /admin/consumers/{id}]

+ Parameters
    + id: `1` (required, int)

+ Request

    + `name` (string) Required. String length: inclusive between 3 and 250.
    + `consumer_type` (object) Required.
    + `consumer_type.value` (string)
    + `api_plan_id` (int) Range: inclusive between 1 and 2147483647.
    + `address_line` (string) String length: inclusive between 0 and 250.
    + `city` (string) String length: inclusive between 0 and 50.
    + `state` (string) String length: inclusive between 0 and 50.
    + `postal_code` (string) String length: inclusive between 0 and 20.
    + `main_phone1` (string) String length: inclusive between 0 and 100.
    + `main_phone2` (string) String length: inclusive between 0 and 100.
    + `cellular_phone` (string) String length: inclusive between 0 and 100.
    + `email1` (string) String length: inclusive between 0 and 255.
    + `email2` (string) String length: inclusive between 0 and 255.
    + `sales_representative_id` (int) Range: inclusive between 1 and 2147483647.
    + `notes` (string) String length: inclusive between 0 and 4000.
    + `card_holder_name` (string) String length: inclusive between 0 and 250.
    + `card_expires_at` (object)
    + `card_number` (string) String length: inclusive between 0 and 20.
    + `card_network` (object)
    + `is_monthly_payment_auto_calculation_enabled` (boolean)
    + `is_active` (boolean)
    + `monthly_fee` (object) Non-negative.
    + `next_payment_at` (object)

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

    + Body

            { "name": "sample string 1", "api_plan_id": 1, "address_line": "sample string 2", "city": "sample string 3", "state": "sample string 4", "postal_code": "sample string 5", "main_phone1": "sample string 6", "main_phone2": "sample string 7", "cellular_phone": "sample string 8", "email1": "sample string 9", "email2": "sample string 10", "sales_representative_id": 1, "notes": "sample string 11", "card_holder_name": "sample string 12", "card_expires_at": "2015-12-14T18:51:54+02:00", "card_number": "sample string 13", "card_network": "other", "is_monthly_payment_auto_calculation_enabled": true, "is_active": true, "monthly_fee": 16.0, "next_payment_at": "2015-12-14T18:51:54+02:00" }


## DeleteConsumerAsync [/DeleteConsumerAsync]
Delete consumer.

### DeleteConsumerAsync [DELETE /admin/consumers/{id}]

+ Parameters
    + id: `1` (required, int)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}


## GetConsumersAsync [/GetConsumersAsync]
Returns Consumers paged collection.

### GetConsumersAsync [GET /admin/consumers?search_for={search_for}&api_plan_id={api_plan_id}&page_index={page_index}&page_size={page_size}]

+ Parameters
    + search_for: (optional, string)
    + type: (optional, string)
    + api_plan_id: (optional, int)
    + page_index: 1 (optional, int)
    + page_size: 20 (optional, int)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "total_count": 1, "items": [ { "id": 1, "card_last_digits": "sample string 2", "created_at": "2015-12-14T18:51:54+02:00", "name": "sample string 5", "api_plan_id": 1, "address_line": "sample string 6", "city": "sample string 7", "state": "sample string 8", "postal_code": "sample string 9", "main_phone1": "sample string 10", "main_phone2": "sample string 11", "cellular_phone": "sample string 12", "email1": "sample string 13", "email2": "sample string 14", "sales_representative_id": 1, "notes": "sample string 15", "card_holder_name": "sample string 16", "card_expires_at": "2015-12-14T18:51:54+02:00", "card_network": "other", "is_monthly_payment_auto_calculation_enabled": true, "is_active": true, "monthly_fee": 19.0, "next_payment_at": "2015-12-14T18:51:54+02:00" }, { "id": 1, "card_last_digits": "sample string 2", "created_at": "2015-12-14T18:51:54+02:00", "name": "sample string 5", "api_plan_id": 1, "address_line": "sample string 6", "city": "sample string 7", "state": "sample string 8", "postal_code": "sample string 9", "main_phone1": "sample string 10", "main_phone2": "sample string 11", "cellular_phone": "sample string 12", "email1": "sample string 13", "email2": "sample string 14", "sales_representative_id": 1, "notes": "sample string 15", "card_holder_name": "sample string 16", "card_expires_at": "2015-12-14T18:51:54+02:00", "card_network": "other", "is_monthly_payment_auto_calculation_enabled": true, "is_active": true, "monthly_fee": 19.0, "next_payment_at": "2015-12-14T18:51:54+02:00" } ] }


## Group Occasion
Provides read operations for Occasions resources.


## Collection [/Collection]
Returns company Occasions.

### Get Collection [GET /companies/{company_alias}/resources/occasions?page_index={page_index}&page_size={page_size}]

+ Parameters
    + page_index: 1 (optional, int)
    + page_size: 20 (optional, int)
    + company_alias: (required, string)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

[...]
